:root {
    --primary-color: #420a57;
    --secondary-color: #aaaaaa;
    --tertiary-color: #000000;
    --white-color: #ffffff;
    --correct-color: #00ff26;
  }

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;

}

a {
    
}

.centered {

}
 
header {
    display: flex;
    flex-wrap: wrap;
}

.timer {
    font-size: ;
}

.scores {
    color: var(--secondary-color);
}
