:root {
    --primary-color: hsl(284, 84%, 20%);
    --secondary-color: rgb(75, 74, 74);
    --tertiary-color: hsl(0, 0%, 0%);
    --white-color: hsl(0, 0%, 100%);
    --correct-color: hsl(129, 100%, 50%);
  }

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
}

.hide {
    display: none;
}

/* Header Content */
header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.timer {
    font-size: 15px;
    color: var(--tertiary-color);
}

.scores {
    color: var(--secondary-color);
}


/* QUIZ section */
.start-quiz {
    text-align: center;

}
/* 
.start-btn {

} */

/* BUTTONS */
.answer-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;

}

/*.right-wrong {

}

.next-btn {

}
*/

.controls {
    display: flex;
    margin: 10px;
}

/* LEADERBOARD */
.highscores-container {
    display: flex;
    text-align: center;

}

/*.highscore-list {

} */

button {
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: var(--primary-color);
color: var(--white-color);
font-size: medium;
padding: 10px;
width: auto;
border-radius: 5px;
}

h1, h2, h3 {
    color: var(--primary-color);
}
